<!DOCTYPE html>
<html>

<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
<p class="notice text-center" style="color:black;"><%= flash[:notice] %></p></div>
<% end %>

<% if flash[:update] %>
 <div class="alert alert-success" role="alert">
<p class="notice text-center" style="color:black;"><%= flash[:update] %></p></div>
<% end %>

<body>
 <p id="notice"></p>
<main>
  <p>Lists#show title:<%= @list.title %></p>
</main>


<main>
  <p>body:<%= @list.body %><p>
</main>


<%= link_to "edit",edit_list_path(@list.id) %>
<%= link_to "delete",destroy_list_path(@list.id),method: :delete, "data-confirm" => "本当に削除しますか？" %>
<%= link_to "Back","/books" %>


</body>
</html>